 {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blessings</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="{% static 'myapp/service1.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

        
    
    </head>

    <body>
        <div id="header-hero-container">
            <header>
                <div class="flex container">
                    <a id="logo" href="#">
                        <img src="{% static 'images/logo.png' %}" alt="Blessing Properties" style="height: 100px; vertical-align: middle; margin-right: 1px;">
                        <span style="font-weight: bold; font-size: 35px; letter-spacing: 1px; color: orange; text-decoration: none; vertical-align: middle;">BLESSING PROPERTIES</span>
                    </a>
                    
                    <nav>
                        
                        <div id="hamburger">&#9776;</div>

                        <ul id="nav-menu">
                            <li><a href="{% url 'simple_view' %}" class="active">Home</a></li>
                            <li><a href="{% url 'properties' %}">Properties</a></li>
                            <li><a href="{% url 'agent' %}">Agents</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>  
                            <li><a href="{% url 'career' %}">Career</a></li> 
                            <li><a href="{% url 'simple_view' %}#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <section id="services">
            <div class="container">
                <h2>Services</h2>
                <div class="flex">
                    <div>
                        <div class="fas fa-home"></div>
                        <div class="services-card-right">
                            <h3>Search Property</h3>
                            <p>Easily find properties that match your needs and preferences. Our advanced search tools let you filter by location, price, type, and more, making property hunting quick and efficient.</p>
                            <a href="{% url 'services'%}">Learn More</a>
                        </div>
                    </div>

                    <div>
                        <div class="fas fa-dollar-sign"></div>
                        <div class="services-card-right">
                            <h3>Buy Property</h3>
                            <p>Buying a property is a big decision. We guide you through the entire process, from viewing listings to finalizing the deal, ensuring you make an informed and confident purchase.</p>
                            <a href="{% url 'services'%}">Learn More</a>
                        </div>
                    </div>

                    <div>
                        <div class="fas fa-chart-line"></div>
                        <div class="services-card-right">
                            <h3>Investing</h3>
                            <p>Maximize your returns with smart real estate investments. Whether you're a first-time investor or experienced, we provide the insights and opportunities to grow your wealth through real estate.</p>
                            <a href="{% url 'services' %}">Learn More</a>
                        </div>
                    </div>

                    <div>
                        <div class="fas fa-building"></div>
                        <div class="services-card-right">
                            <h3>List a Property</h3>
                            <p>Selling or renting your property? Our platform makes it easy to list your property and reach a wide audience of potential buyers or tenants, ensuring a quick and smooth transaction.</p>
                            <a href="{% url 'services'%}">Learn More</a>
                        </div>
                    </div>

                    <div>
                        <div class="fas fa-search"></div>
                        <div class="services-card-right">
                            <h3>Property Locator</h3>
                            <p>Find the perfect property tailored to your needs with our Property Locator. Whether you're searching for a home, office, or investment opportunity, we make it easier than ever to discover the right place.</p>
                            <a href="{% url 'services'%}">Learn More</a>
                        </div>
                    </div>

                    <div>
                        <div class="fas fa-mobile-alt"></div>
                        <div class="services-card-right">
                            <h3>Stated Apps</h3>
                            <p>Access real estate solutions anytime, anywhere. Our mobile-friendly platform and apps offer seamless browsing, property management, and transaction tracking at your fingertips.</p>
                            <a href="{% url 'services'%}">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <h2>Contact Us</h2>


                <div id="address-container">
                    <label><span class="fas fa-map-marker-alt" style="margin-right: 5px; color: orange;"></span> Address</label>
                            <address>
                        Blessing properties, Plot No. 1, 100 Feet Rd, SIDCO Industrial Estate, Guindy, Chennai, Tamil Nadu 600032
                            </address>
            
                    <label>Phone</label>
                    <a href="tel:+919319552561"><span class="fas fa-phone" style="margin-right: 5px;"></span>+91 9319552561</a>
            
                    <label>Email Address</label>
                    <a href="https://mail.google.com/mail/?view=cm&to=blessinggroupsofcompany@gmail.com" target="_blank">
                        <span class="fas fa-envelope" style="margin-right: 5px;"></span>
                        blessinggroupsofcompany@gmail.com
                    </a>
            
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.325352243278!2d80.20105907533278!3d13.014941413926115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52671455555557%3A0xc132a69138b8fdf6!2sOlympia%20Technology%20Park!5e0!3m2!1sen!2sin!4v1745486815657!5m2!1sen!2sin" 
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
            
            
                </div>
            </div>
            </div>
            </section>
            
            <footer>
            <div class="flex container">
                <div class="footer-about">
                <h5>About</h5>
                <p>We are a modern real estate platform built to simplify property buying, selling, and investing. With a focus on technology, trust, and transparency — Stated connects people to their perfect properties with ease and confidence.</p>
            </div>
            
            <div class="footer-quick-links">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
            
            <div class="footer-subscribe">
                <h5>Subscribe to our Newsletter</h5>
                <div id="subscribe-container">
                    <input type="text" placeholder="Enter Email" />
                    <button class="right-rounded">Send</button>
                </div>
            
                <h5 class="follow-us">Follow Us</h5>
                <ul>
                    <li>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=61575398468365" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="https://twitter.com/BlessingPr83618" class="twitter"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="https://www.instagram.com/blessingproperties61" class="instagram"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="https://www.linkedin.com/in/blessing-properties-238003362" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="https://www.youtube.com/channel/UCuvVecxXj-2SgEsTgCNaWiA" class="youtube" target="_blank"><span class="fab fa-youtube"></span></a></li>
                        </ul>
            
            </div>
            </div>
            
            <small>
            2025 All rights reserved | This template is made with  by evolve solutions
            <p>&copy; 2025 All rights reserved.</p>
            
                </small>
            </footer>
            
            
            <script src="{% static 'myapp/script.js' %}"></script>
            
        

            
        </body>
    </html>
